/* Index */
html {
	background: var(--color-secondary);
}
body {
	background: var(--color-secondary);
	font: 83.33%/150% "Segoe UI", "Helvetica Neue", "Nimbus Sans L", Arial, "Liberation Sans", sans-serif;
	color: var(--color-base);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
::selection {
	text-shadow: none;
	background: var(--color-primary);
	color: var(--color-base);
}
/* This is about links */
a, a:visited {
	color: var(--color-default-lighte);
	text-decoration: none;
}
/* Standard horizontal rule.. ([hr], etc.) */
hr {
	border: none;
	margin: 12px 0;
	height: 2px;
	background: #fff;
	box-shadow: 0 1px 0 #bbb inset;
}
strong, .strong {
	font-weight: bold;
	color: var(--color-base);
}
.cat_bar strong {
	color: #fff;
}