/* Styles for the general looks of the theme.
------------------------------------------------------- */
/* Box-shadow only on this one. */
#wrapper {
	clear: both;
}

/* Set maximum width limit for content */
#top_section .inner_wrap, #wrapper, #header, #footer .inner_wrap, #main_menu {
	max-width: 1200px;
	margin: 0 auto;
	width: 98%;
}

/* The framing graphics */
/* The top bar. */
#top_section {
	border-bottom: 1px solid #bbb;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
	background: var(--color-default);
	clear: both;
}
#top_section::after {
	content: "";
	display: block;
	clear: both;
}
#top_info {
	padding: 5px 0;
	line-height: 1.3em;
	width: auto;
}
#profile_menu_top > img.avatar {
	height: 18px;
	width: 18px;
	margin: 2px 5px 0 0;
	float: left;
}
.notice {
	font-weight: bold;
}

#languages_form, #search_form {
	padding: 5px 0;
}
#languages_form {
	margin: 0 0 0 10px;
}
/* The logo and slogan. */
#header {
	padding: 0px 2px 12px 2px;
	display: flex;
	align-items: flex-end;
}
#header::after {
	content: "";
	display: block;
	clear: both;
}
/* The main title. */
h1.forumtitle {
	font-size: 1.8em;
	font-family: "Tahoma", sans-serif;
	padding: 22px 12px 6px 10px;
	font-weight: normal;
	flex: 1 1 auto;
}
h1.forumtitle a {
	color: var(--color-primary);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* Float these items to the right */
#siteslogan, img#smflogo {
	padding-right: 2px;
	font-size: 1.4em;
}
/* Tweak the SMF logo */
img#smflogo {
	margin: 0px 0 0 0;
}
/* Even guests need to be aligned */
.welcome {
	padding: 7px 0 8px 10px;
}
/*
/* The user info, news, etc.*/
#upper_section {
	padding: 2px 2px 0 2px;
}
#inner_section {
	padding: 12px 10px 2px 10px;
	border-radius: 6px 6px 0 0;
}
#inner_section::after {
	content: "";
	display: block;
	clear: both;
}
/* The upper_section, float the two each way */
.user {
	width: 50%;
	float: left;
	overflow: auto;
	padding: 0 4px 6px 4px;
	font-size: 0.9em;
}
.user ul {
	padding: 0 0 5px 0;
	font-size: 0.9em;
	line-height: 1.8em;
}
ul li.greeting {
	font-weight: bold;
}
/* The login form. */
#guest_form {
	overflow: hidden;
	font-size: 0.9em;
	margin-left: -2px;
}
/* News section. */
#inner_wrap .news {
	max-width: 50%;
	float: right;
	padding: 0 0 6px 0;
	font-size: 0.9em;
}
#inner_wrap .news h2, #inner_wrap .news p {
	display: inline;
	padding: 0 0 0 4px;
}


/* The content section */
#content_section {
	margin: 0 auto;
	clear: both;
}
#main_content_section {
	padding: 5px 12px 16px 12px;
}
#main_content_section::after {
	content: "";
	display: block;
	clear: both;
}
/* Footer is now full-width by default. */
/* The footer with copyright links etc. */
#footer {
	margin: 0 0 0 0;
	padding: 10px 0;
	background: var(--color-base);
	flex: none;
}
#footer li, #footer p, #footer a {
	font-size: 0.9em;
	color: #fff;
}
#footer li.copyright {
	display: block;
	font-family: Verdana, sans-serif; /* Copyright must be Verdana! */
}
#footerfix {
	flex: 1 0 auto;
}


/* Styles for the search section.
------------------------------------------------- */
#searchform fieldset {
	text-align: left;
	padding: 0;
	border: none;
}
#searchform .roundframe {
	border-radius: 0;
	margin: 0;
	padding: 32px;
}
#searchform .alt {
	border-top: 0;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
#searchform p.clear {
	clear: both;
}
#advanced_search {
	text-align: center !important;
}
#advanced_search dl#search_options {
	margin: 0 auto;
	width: 600px;
	padding-top: 12px;
	overflow: hidden;
}
#advanced_search dt {
	padding: 2px;
	text-align: right;
	width: 20%;
}
#advanced_search dd {
	width: 75%;
	float: left;
	padding: 2px;
	margin: 0 0 0 6px;
	text-align: left;
}
#search_results {
	margin-bottom: 5px;
}

/* The navigation list (i.e. linktree) */
.navigate_section {
	padding: 3px 0 0 0;
	float: left;
	width: 100%;
}
#main_content_section .navigate_section {
	margin: 4px 0 0 0;
	padding: 0;
}
.navigate_section ul {
	margin: 4px 0 0 0;
	padding: 0 10px;
	font-size: 0.9em;
	overflow: hidden;
	border: 1px solid var(--color-primary);
	border-radius: 2px;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.08);
}
.navigate_section ul li {
	float: left;
	padding-bottom: 3px;
	line-height: 1.1em;
	color: var(--color-default);
	text-shadow: 0.1px 0.2px 0 var(--color-base);
}
.navigate_section ul li a, .navigate_section ul li em {
	padding: 4px 0 4px;
	margin-top: -4px;
	display: inline-block;
}
.navigate_section ul li span {
	display: inline-block;
	margin-top: 8px;
}
.navigate_section ul li .dividers {
	color: var(--color-default);
	font: 83.33%/150% Arial, sans-serif;
	padding: 0 2px 0 6px;
}
.navigate_section ul li .board_moderators a {
	padding: 4px 0;
}

.navigate_section a:hover span {
	text-decoration: underline;
}

/* "Unread posts" and "New replies" links, accessible with header collapsed. */
.navigate_section .unread_links {
	float: right;
}
.navigate_section .unread_links a {
	padding: 4px 0 4px 10px;
	margin-top: 4px;
}

/* The "new" button */
.new_posts {
	display: inline-block;
	position: relative;
	top: -2px;
	padding: 0 4px;
	@include grident(var(--color-primary), var(--color-primary-satur));
	color: #fff;
	font: 9px/15px verdana, sans-serif;
	border-radius: 2px;
	opacity: 0.8;
}
.new_posts:hover, .new_posts:focus {
	text-decoration: none;
	opacity: 1;
}